fastapi
uvicorn
duckdb
qdrant-client
langchain
langchain-openai
langchain-qdrant
yfinance
kafka-python
pandas
boto3
feedparser
selenium
webdriver-manager
trafilatura
confluent-kafka
websocket-client
langchain_text_splitters
python-dotenv
streamlit
requests
python-snappy